.vscode/**
.vscode-test/**
test/**
tests/**
coverage/**
node_modules/**
.git/**
.github/**
.gitignore
tsconfig.json
vitest.config.*
*.test.ts
*.spec.ts
CONTRIBUTING.md
pnpm-lock.yaml
pnpm-workspace.yaml
_docs/**
*.log
src/**
